@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .form-field {
        @apply w-full mt-3 mb-2 p-3 border rounded-xl bg-gray-50 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
        disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
        invalid:border-red-700 invalid:text-red-700
        focus:invalid:border-red-700 focus:invalid:ring-red-700
    }
}